
        <div id="content">
            <div class="container">
                  <%= flash_message %>
                <div class="primary">
                   <% form_tag(create_property_doc_my_property_path(@property), :method=>'post', :multipart => true, :class => 'form ui-tabs ui-widget ui-widget-content ui-corner-all') do %>
                        <ul class="navigation" style="display: none;">
                            <li><a href="#listing-photos">Photos</a></li>
                        </ul>
                        <fieldset class="section" id="listing-photos">
                            <legend style="position: relative;">Upload proof of property ownership</legend>
                            <%=  error_messages_for 'property', :header_message => "Opps! There are problems with your information." , :message => ""%>
                             <div style="clear:both;"></div>
                            <ul class="photos">
                                <% @property.reload.property_docs.each do |doc| %>
				    <li>
					<div class="thumbnail large" style="margin-bottom: 10px;">
	                                    <%= image_tag(doc.document.url(:middle)) %>
        				    <div class="overlay"></div>
					</div>
					<a class="cancel" href="/my/properties/<%= @property.id %>/delete_property_doc?doc_id=<%= doc.id %>">Cancel</a>
				    </li>
                                <% end %>
                            </ul>
                <div style="clear:both"> </div>
                <p><input type="file" size="32" name="document[]" onchange="document.getElementById('moreUploadsdocLink').style.display = 'block';"></p>
	        <div><a href="javascript:add_resource_FileInput();" class="add_photo"></a></div>
                     <p id="moredocUploads" class="more_upload" > </p>
                    <div style="clear:both;"></div>
		    <div >
		      <button class="upload_button"></button>
		    </div>
                        </fieldset>
                   <% end %>
                </div>
                <div class="secondary">
                    <div class="section">
                        <h3>Tips & Tricks</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                </div>
            </div>
        </div>
<script type="text/javascript"> 
        var upload_resource_number = 2;
        function add_resource_FileInput(){
        var d = document.createElement("p");
	var file = document.createElement("input");
	file.setAttribute("type", "file");
	file.setAttribute("size", "32");
	file.setAttribute("name", "document[]");
	d.appendChild(file);
	document.getElementById("moredocUploads").appendChild(d);
	upload_resource_number = upload_resource_number+1;
}
</script>

 <style>
  #moredocUploads p{
  margin:0px 0px 22px 0px;
  padding:0px !important;
  }
 </style>
