<div>
  <TABLE width='100%'>
    <tr><td width='65%'><%= image_tag("syndication_site_logos/b. front_door_logo.png", :size => "105x36")%></td><td><i>Coming Soon</i></td></tr>
    <tr><td><%= image_tag("syndication_site_logos/d. bplogo20a.png")%></td><td><i>Coming Soon</i></td></tr>
    <tr><td><%= image_tag("syndication_site_logos/e. hotpads.png")%></td><td><i>Coming Soon</i></td></tr>
    <tr><td><%= image_tag("syndication_site_logos/g. logo_header.png")%></td><td><i>Coming Soon</i></td></tr>
    <tr><td><%= image_tag("syndication_site_logos/i.  ehouseads-logo.png")%></td><td><i>Coming Soon</i></td></tr>
    <tr><td><%= image_tag("syndication_site_logos/j.  lodging.png")%></td><td><i>Coming Soon</i></td></tr>
    <tr><td><%= image_tag("syndication_site_logos/k. realestate_final.png", :width => "150")%></td><td><i>Coming Soon</i></td></tr>
    <tr><td><%= image_tag("syndication_site_logos/n. feedprop.png")%></td><td><i>Coming Soon</i></td></tr>
    <tr><td><%= image_tag("syndication_site_logos/o. domesticsale.png")%></td><td><i>Coming Soon</i></td></tr>
    <tr><td><%= image_tag("syndication_site_logos/q. overstock.png")%></td><td><i>Coming Soon</i></td></tr>
    <tr><td><%= image_tag("syndication_site_logos/r. trovit.png", :size => "105x36")%></td><td><i>Coming Soon</i></td></tr>
    <tr><td><%= image_tag("syndication_site_logos/s. logo_ebc.png")%></td><td><i>Coming Soon</i></td></tr>
    <tr><td><%= image_tag("syndication_site_logos/t. olxlogo-en.png")%></td><td><i>Coming Soon</i></td></tr>
    <tr><td><%= image_tag("syndication_site_logos/v. walmart_logo_214x54.png")%></td><td><i>Coming Soon</i></td></tr>
    <tr><td><%= image_tag("syndication_site_logos/w. logo.png")%></td><td><i>Coming Soon</i></td></tr>
    <tr><td><%= image_tag("syndication_site_logos/x. hbo_newlogo2.png")%></td><td><i>Coming Soon</i></td></tr>
    <tr><td><%= image_tag("syndication_site_logos/y. backpage.png")%></td><td><i>Coming Soon</i></td></tr>
    <tr><td><%= image_tag("syndication_site_logos/z. logo_slogan.png")%></td><td><i>Coming Soon</i></td></tr>
    <tr><td><%= image_tag("syndication_site_logos/zb. fizber.png")%></td><td><i>Coming Soon</i></td></tr>
    <tr><td><%= image_tag("syndication_site_logos/zc. cyberhomes_logo_sm_231.png")%></td><td><i>Coming Soon</i></td></tr>
    <tr><td><%= image_tag("syndication_site_logos/zd. geebo.png")%></td><td><i>Coming Soon</i></td></tr>
  </TABLE>
</div>
