<span >Hi<span><span><%= @user.first_name %></span>,
<div style="clear:both;"></div>
<div>Congratulations! Your Boxyroom account has been activated.</div> 
<div style="clear:both;"></div>
<div style="clear:both;"></div>
<div>What to do next:</div>
<div>1. Learn more about Boxyroom</div>
<div style="clear:both;"></div>
<div style="clear:both;"></div>
<div>* Why use Boxyroom <%=@learn_more_url%></div>
<div>* How Boxyroom works <%=@how_it_works_url%></div>
<div>* Boxyroom keeps you safe <%=@safe_url%></div>
<div style="clear:both;"></div>
<div style="clear:both;"></div>
<div>2. If you’re a property owner, <span style="width: 100px;color: red;">list your property </span><%=@list_a_property_url%></div>
<div>3.  If you’re looking for a rental space in foreign city, <span style="width: 100px;color: red;">start searching </span><%= @root_url %></div>
<div style="clear:both;"></div>
<div style="margin-top:20px;">Welcome to Boxyroom!</div>
<div style="clear:both;"></div>
<div style="margin-top:20px;">The Boxyroom Team</div>
