<head>
  <!--[if IE 7]>
   <style type="text/css">
   table {
   border: 1px solid #CCCCCC!important;
   margin-bottom: 16px!important;
   width: 100%!important;
   }
   table tbody td{ border-bottom :1px solid #CCCCCC!important;}
   </style>
  <![endif]-->
</head>
<div id="content">
        <div class="container">
                  <%= flash_message %>
                <div class="primary">
                        <table cellspacing="0">
                                <caption>Application by you</caption>
                                <thead>
                                        <tr>
                                                <th class="left_padding">Status</th>
                                                <th>Description</th>
                                                <th>Monthly Rent</th>
                                                <th>Time</th>
                                        </tr>
                                </thead>
                                 <%if !@applications.empty?%>
                                 <%@applications.each do |app|%> 
                                   <%if !(app.nil?)%> 
                                    <%if app.pending?%>
                                      <tbody>
                                              <tr>
                                                      <td class="status_icon_td"><span ><%=link_to "", my_application_path(app), :class=>"orange status pending"%></span></td>
                                                      <td ><%=app.property.title.slice(0..50)%><%= "..." if app.property.title.size>50%></td>
                                                      <td id="amount_field"><%= return_currency_abbrebiation(app.property.currency_type.nil? ? 'USD' : app.property.currency_type)%><%= ISO4217::Currency.from_code(app.property.currency_type.nil? ? 'USD' : app.property.currency_type).symbol%><%=app.property.monthly_rental.to_i%></td>
                                                      <td class="time_in_words_td"><%=time_ago_in_words app.updated_at %> ago</td>
                                              </tr>
                                      </tbody>
                                    <%elsif app.paid?%>
                                      <tbody>
                                              <tr class="last">
                                                      <td class="status_icon_td"><span ><%=link_to "", my_application_path(app),:class=>"blue status paid"%></span></td>
                                                      <td><%=app.property.title.slice(0..50)%><%= "..." if app.property.title.size>50%></td>
                                                      <td id="amount_field"><%= return_currency_abbrebiation(app.property.currency_type.nil? ? 'USD' : app.property.currency_type)%><%= ISO4217::Currency.from_code(app.property.currency_type.nil? ? 'USD' : app.property.currency_type).symbol%><%=app.property.monthly_rental.to_i%></td>
                                                      <td class="time_in_words_td"><%=time_ago_in_words app.paid_at %> ago</td>
                                              </tr>
                                      </tbody>
                                    <%elsif app.cancelled?%>
                                      <tbody>
                                              <tr class="last">
                                                      <td class="status_icon_td"><span><%=link_to "", my_application_path(app),:class=>"red status cancelled"%></span></td>
                                                      <td><%=app.property.title.slice(0..50)%><%= "..." if app.property.title.size>50%></td>
                                                      <td id="amount_field"><%= return_currency_abbrebiation(app.property.currency_type.nil? ? 'USD' : app.property.currency_type)%><%= ISO4217::Currency.from_code(app.property.currency_type.nil? ? 'USD' : app.property.currency_type).symbol%><%=app.property.monthly_rental.to_i%></td>
                                                      <td class="time_in_words_td"><%=time_ago_in_words app.updated_at %> ago</td>
                                              </tr>
                                      </tbody>
                                    <%elsif app.rejected? %>
                                      <tbody>
                                              <tr class="last">
                                                      <td class="status_icon_td"><span><%=link_to "", my_application_path(app),:class=>"red status rejected"%></span></td>
                                                      <td><%=app.property.title.slice(0..50)%><%= "..." if app.property.title.size>50%></td>
                                                      <td id="amount_field"><%= return_currency_abbrebiation(app.property.currency_type.nil? ? 'USD' : app.property.currency_type)%><%= ISO4217::Currency.from_code(app.property.currency_type.nil? ? 'USD' : app.property.currency_type).symbol%><%=app.property.monthly_rental.to_i%></td>
                                                      <td class="time_in_words_td"><%=time_ago_in_words app.updated_at %> ago</td>
                                              </tr>
                                      </tbody>
                                    <%elsif app.approved? %>
                                      <tbody>
                                              <tr class="last">
                                                      <tr class="last">
                                                      <td class="status_icon_td"><span ><%= link_to "", make_payment_my_application_path(app), :class=>"green status approved" %></span></td>
                                                      <td><%=app.property.title.slice(0..50)%><%= "..." if app.property.title.size>50%></td>
                                                      <td id="amount_field"><%= return_currency_abbrebiation(app.property.currency_type.nil? ? 'USD' : app.property.currency_type)%><%= ISO4217::Currency.from_code(app.property.currency_type.nil? ? 'USD' : app.property.currency_type).symbol%><%=app.property.monthly_rental.to_i %></td>
                                                      <td class="time_in_words_td"><%=time_ago_in_words app.approved_at %> ago</td>
                                              </tr>
                                              </tr>
                                      </tbody>
                                    <%elsif app.moved_in? %>
                                      <tbody>
                                              <tr class="last">
                                                      <tr class="last">
                                                      <td class="status_icon_td"><span class="red status moved_in"></span></td>
                                                      <td><%=app.property.title.slice(0..50)%><%= "..." if app.property.title.size>50%></td>
                                                      <td id="amount_field"><%= return_currency_abbrebiation(app.property.currency_type.nil? ? 'USD' : app.property.currency_type)%><%= ISO4217::Currency.from_code(app.property.currency_type.nil? ? 'USD' : app.property.currency_type).symbol%><%=app.property.monthly_rental.to_i %></td>
                                                      <td class="time_in_words_td"><%=time_ago_in_words app.updated_at %> ago</td>
                                              </tr>
                                              </tr>
                                      </tbody>
                                    <% end %>
                                  <% end %>
                                <% end %>
                               <%else%>
                                  <tr><td>Nothing to show you.</td><td></td><td></td><td></td></tr>
                               <%end%>
                                <tfoot>
                                </tfoot>
                        </table>
                        <table cellspacing="0">
                                <caption>Application for you</caption>
                                <thead>
                                        <tr>
                                                <th class="left_padding">Status</th>
                                                <th>Description</th>
                                                <th>Monthly Rent</th>
                                                <th>Time</th>
                                        </tr>
                                </thead>
                                <%if !@applications_for_me.empty?%>
                                <%if !(@applications_for_me.nil?)%>
                                  <%@applications_for_me.each do |f|%>
                                    <%if !(f[0].nil?)%>
                                      <%if  f[0].property.occupied? %>
                                        <tbody>
                                                  <tr class="last">
                                                          <td class="status_icon_td"><span class="green status payout "></span></td>
                                                          <td><%=f[0].property.title.slice(0..50)%><%= "..." if f[0].property.title.size>50%></td>
                                                          <td id="amount_field"><%= return_currency_abbrebiation(f[0].property.currency_type.nil? ? 'USD' : f[0].property.currency_type)%><%= ISO4217::Currency.from_code(f[0].property.currency_type.nil? ? 'USD' : f[0].property.currency_type).symbol%><%=(f[0].property.monthly_rental * 90/100).to_i %></td>
                                                          <td class="time_in_words_td"><%=time_ago_in_words (f[0].payment_transfer_date) unless f[0].payment_transfer_date.nil?  %> ago</td>
                                                  </tr>
                                         </tbody>
                                      <%end%>
                                    <%end%>
                                  <%end%>
                                  <%@applications_for_me.each do |f|%>
                                    <%if !(f[0].nil?)%>
                                      <%if  f[0].property.withdraw_pending?%>
                                        <tbody>
                                                  <tr class="last">
                                                          <td class="status_icon_td"><span class="orange status widthrawl_pending"></span></td>
                                                          <td><%=f[0].property.title.slice(0..50)%><%= "..." if f[0].property.title.size>50%></td>
                                                          <td id="amount_field"><%= return_currency_abbrebiation(f[0].property.currency_type.nil? ? 'USD' : f[0].property.currency_type)%><%= ISO4217::Currency.from_code(f[0].property.currency_type.nil? ? 'USD' : f[0].property.currency_type).symbol%><%=(f[0].property.monthly_rental * 90/100).to_i %></td>
                                                          <td class="time_in_words_td"><%=time_ago_in_words f[0].property.updated_at %> ago</td>
                                                  </tr>
                                         </tbody>
                                      <%end%>
                                    <%end%>
                                  <%end%>
                                  <%@applications_for_me.each do |f|%>
                                    <%if !(f[0].nil?)%>
                                      <%if  (f[0].pending?)%>
                                        <tbody>
                                                  <tr class="last">
                                                          <td class="status_icon_td"><span ><%=link_to "", my_property_application_path(f[0].property,f[0]), :class=>"green status new"%></"New></span></td>
                                                          <td><%=f[0].property.title.slice(0..50)%><%= "..." if f[0].property.title.size>50%></td>
                                                          <td id="amount_field"><%= return_currency_abbrebiation(f[0].property.currency_type.nil? ? 'USD' : f[0].property.currency_type)%><%= ISO4217::Currency.from_code(f[0].property.currency_type.nil? ? 'USD' : f[0].property.currency_type).symbol%><%=(f[0].property.monthly_rental * 90/100).to_i%></td>
                                                          <td class="time_in_words_td"><%=time_ago_in_words f[0].updated_at %> ago</td>
                                                  </tr>
                                          </tbody>
                                       <%end%>
                                      <%end%>
                                    <%end%>
                                  <% end %>
                                  <%@applications_for_me.each do |f|%>
                                   <%if !(f[0].nil?)%>
                                    <%if f[0].property.paid? and f[0].paid?%>
                                      <tbody>
                                                <tr class="last">
                                                        <td class="status_icon_td"><span ><%= link_to "",receive_payment_my_property_path(f[0].property.id,:application_id=>f[0]), :method => :get, :class=>"blue status advance" %></span></td>
                                                        <td><%=f[0].property.title.slice(0..50)%><%= "..." if f[0].property.title.size>50%></td>
                                                        <td id="amount_field"><%= return_currency_abbrebiation(f[0].property.currency_type.nil? ? 'USD' : f[0].property.currency_type)%><%= ISO4217::Currency.from_code(f[0].property.currency_type.nil? ? 'USD' : f[0].property.currency_type).symbol%><%=(payment_to_landlord f[0].property.monthly_rental).to_i %></td>
                                                        <td class="time_in_words_td"><%=time_ago_in_words f[0].updated_at %> ago</td>
                                                </tr>
                                        </tbody>
                                      <%end%>
                                     <%end%>
                                   <%end%>
                                   <%@applications_for_me.each do |f|%>
                                    <%if !(f[0].nil?)%>
                                      <%if  (f[0].approved?)%>
                                        <tbody>
                                                  <tr class="last">
                                                          <td class="status_icon_td"><span  class="green status approved"></span></td>
                                                          <td><%=f[0].property.title.slice(0..50)%><%= "..." if f[0].property.title.size>50%></td>
                                                          <td id="amount_field"><%= return_currency_abbrebiation(f[0].property.currency_type.nil? ? 'USD' : f[0].property.currency_type)%><%= ISO4217::Currency.from_code(f[0].property.currency_type.nil? ? 'USD' : f[0].property.currency_type).symbol%><%=(f[0].property.monthly_rental * 90/100).to_i%></td>
                                                          <td class="time_in_words_td"><%=time_ago_in_words f[0].updated_at %> ago</td>
                                                  </tr>
                                          </tbody>
                                       <%end%>
                                      <%end%>
                                    <%end%>
                                 <%else%>
                                  <tr><td>Nothing to show you.</td><td></td><td></td><td></td></tr>
                                 <%end%>
                                <tfoot>
                                </tfoot>
                        </table>
                        <table cellspacing="0">
                                <caption>New Messages</caption>
                                <thead>
                                        <tr>
                                                <th>Username</th>
                                                <th>Message Subject</th>
                                                <th>Time</th>
                                        </tr>
                                </thead>
                                <%if !@messages_for_me.empty?%>
                                <%if !(@messages_for_me.nil?)%>
                                  <%@messages_for_me.each do |message|%>
                                    <tbody>
                                            <tr>
                                                    <td><%=message.sender.first_name%></td>
                                                    <td><%= link_to "#{message.subject.empty? ? "----------------------" : message.subject}",my_message_path(message.thread.code)  %></td>
                                                    <td><%=time_ago_in_words message.sent_at%> ago</td>
                                            </tr>
                                    </tbody>
                                  <%end%>
                                <%end%>
                                <%else%>
                                  <tr><td>Nothing to show you.</td><td></td><td></td></tr>
                                <%end%>
                              <tfoot>
                              </tfoot>
                        </table>

                </div>
   <div class="profile_image_on_dashboard">
      <div class="secondary">
	  <div class="thumbnail large" >
	      <%= image_tag current_user.avatar.url(:medium)%>
	      <div class="overlay"></div>
	    </div>
      </div>
      <div class="secondary" id="edit_link_dashboard_secondary" >
	  <%=current_user.full_name%>
	    <a   href="edit.html" id="edit_link_dashboard" >Edit profile</a>
      </div>
	<div class="secondary">
		<div class="section" id="section_height">
			<h3 class="orange">Reminders</h3>
		</div>
	</div>
	  <div class="secondary">
	    <div class="section1">  
	      <p class="amount_field"><%= unread_messages(@messages_for_me) %></p>
	      <p class="notification_under_records" >NEW MESSAGES</p>
	      </div>
	  </div> 
	  <div class="secondary" id="ajax_more_application">
	    <%= render :partial => "dash_board_application", :collection => @dash_board_applications %>
	  </div>
	  <div class="secondary">
	    <div class="section1">
	      <p class="amount_field"><%= current_user.properties.occupied.count %></p>
	      <p class="notification_under_records">OCCUPIED PROPERTIES</p>
	    </div>
	  </div>
	  <div class="secondary" >
	    <%total_amount = 0%>
	      <%if !(@applications_for_me.nil?)%>
		<%@applications_for_me.each do |f|%>
		  <%if !(f[0].nil?)%>
		    <%if  (f[0].property.can_receive_payment?)%>
		      <% total_amount  = total_amount  + f[0].property.monthly_rental * 90/100%> 
		    <%end%>
		  <%end%>
		<%end%>
		<% if total_amount >0 %>
		  <div class="section1">
		    <p class="amount_field"><%= return_currency_abbrebiation(current_user.prefers_currency.nil? ? 'USD' : current_user.prefers_currency)%><%= ISO4217::Currency.from_code(current_user.prefers_currency.nil? ? 'USD' : current_user.prefers_currency).symbol%><%= total_held_by_boxyroom(current_user.properties.paid + current_user.properties.withdraw_pending).to_i%></span></p>
		    <p class="notification_under_records">CURRENTLY HELD BY BOXYROOM</p>
		  </div>
		  <%end%>
	      <%end%>
	  </div>
	  <div class="secondary">
	    <div class="section1">
	      <p class="amount_field"><%= return_currency_abbrebiation(current_user.prefers_currency.nil? ? 'USD' : current_user.prefers_currency)%><%= ISO4217::Currency.from_code(current_user.prefers_currency.nil? ? 'USD' : current_user.prefers_currency).symbol%><%= total_received_to_date(current_user.properties.occupied).to_i%></p>
	      <p class="notification_under_records">TOTAL RECEIVED TO DATE</p>
	    </div>
	  </div>
	<div>
        </div>
</div>
<script>

  $('.more').live('click', function(){
        $.ajax({
            url: '/my/dashboard/more_applications',
            type: 'GET',
            success: function(data){
                document.getElementById('ajax_more_application').innerHTML = data; 
            }
        });
    });


</script>

		
