<div id="ct-lt">
  <div id="header-wp">
    <h1>Your Dashboard</h1>
  </div>

  <div id="dashboard" >
    <%- unless @user.properties.empty? %>
      <h2>Your Properties</h2>

      <table class="console">
        <thead>
          <tr>
            <th class="">Description</th>
            <th class="">No. of Applications</th>
            <th class="">Link</th>
          </tr>
        </thead>
        <tbody>
          <%- @user.properties.each do |property| %>
            <tr>
              <td class="description">
                <strong><%= truncate property.title %></strong>
                <span><%= property.display_category %> | <%= property.status.titleize %></span>
              </td>
              <td class="">
                <%= "#{property.applications.approved.count} approved, #{property.applications.pending.count} pending" %>
              </td>
              <td class="links">
                <div>
                  <ul>
                    <li><%= link_to "Applications (#{property.applications.pending.count})", my_property_path(property) %></li>
                    <li class="divider"></li>
                    <li><%= link_to "#{property.listed? ? "View Listing" : "Preview Listing"}", property_path(property) %></li>
                    <%- if property.editable? %>
                      <li><%= link_to "Edit Listing", edit_my_property_path(property) %></li>
                    <%- end %>
                    <%- if property.can_delist? %>
                      <li><%= link_to "Delist", my_property_path(property), :confirm => "Are you sure you want to delist this property?", :method => :delete %></li>
                    <%- end %>
                    <%- if property.can_resubmit? %>
                      <li><%= link_to "Resubmit Listing", resubmit_my_property_path(property), :method => :put %></li>
                    <%- end %>
                    <%- if property.can_relist? %>
                      <li><%= link_to "Relist", relist_my_property_path(property), :method => :put %></li>
                    <%- end %>
                    <%- if property.can_receive_payment? %>
                              <% @application = get_property_application(property) %>
                      <li><%= link_to "Receive Payment", receive_payment_my_property_path(property.id,:application_id=>@application), :method => :get %></li>
                    <%- end %>
                  </ul>
                </div>
              </td>
            </tr>
          <%- end %>
        </tbody>
      </table>

    <%- end %>

    <%- unless @user.applications.empty? %>
      <h2>Applications</h2>

      <table class="console">
        <thead>
          <tr>
            <th class="">Description</th>
            <th class="">Asking Price</th>
            <th class="">Link</th>
          </tr>
        </thead>
        <tbody>
          <%- @user.applications.each do |application| %>
            <%- can_display_in_dashboard(application.property) do %>
              <tr>
                <td class="description">
                  <strong><%= truncate application.property.address.location %></strong>
                  <span><%= application.property.display_category %> | <%= application.status.titleize %></span>
                </td>
                <td class="">$ <%= sprintf("%0.0f", application.property.monthly_rental) %> (<%= application.property.currency_type %>)</td>
                <td class="links">
                  <div>
                    <ul>
                      <li><%= link_to "View Application", my_application_path(application) %></li>
                      <%- if application.can_pay? %>
                        <li><%= link_to "Make Payment", make_payment_my_application_path(application) %></li>
                      <%- else %>
                        <li><%= link_to "Edit Application", edit_my_application_path(application) %></li>
                      <%- end %>
                      <%- if application.can_cancel? %>
                        <li><%= link_to "Cancel Application", my_application_path(application), :confirm => "Are you sure you want to cancel your application?", :method => :delete %></li>
                      <%- end %>
                      <%- if application.can_resend? %>
                        <li><%= link_to "Resend Application", resend_my_application_path(application), :method => :put %></li>
                      <%- end %>
                      <%- if application.can_revise? %>
                        <li><%= link_to "Edit Application", edit_my_application_path(application) %></li>
                      <%- end %>

                      <li class="divider"></li>

                      <li><%= link_to "Email Owner", new_my_message_path(:to => application.property.owner.id) %></li>
                      <li><%= link_to "View Listing", property_path(application.property) %></li>
                    </ul>
                  </div>
                </td>
              </tr>
            <%- end %>
          <%- end %>
        </tbody>
      </table>

    <%- end %>

  </div>

</div>

<div id="ct-rt">

  <h3>Your Profile</h3>
  <ul class="side-data">
    <li>
      <span>First name</span>
      <strong><%= @user.first_name %></strong>
    </li>
    <li>
      <span>Last name</span>
      <strong><%= @user.last_name %></strong>
    </li>
    <li>
      <span>Email</span>
      <strong><%= @user.email %></strong>
    </li>
    <li>
      <span>Birth date</span>
      <strong><%= @user.birth_date %></strong>
    </li>
    <li>
      <span>About</span>
      <strong><%= @user.about %></strong>
    </li>
  </ul>

  <%= link_to 'Edit your base profile', edit_my_account_path, :class => "edit-profile-btn" %>

</div>
